@font-face {
    src: url("../res/fonts/Roboto-Medium.ttf");
}

.list-view {   
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}
.list-view .scroll-bar:horizontal .increment-arrow,
.list-view .scroll-bar:horizontal .decrement-arrow,
.list-view .scroll-bar:horizontal .increment-button,
.list-view .scroll-bar:horizontal .decrement-button {
    -fx-padding:0;
}
.list-cell {
    -fx-padding: 0;
}

#test
{
    -fx-background-image: url("../res/ico/next.png");
    -fx-background-position: center center;
    -fx-background-color: #ffffff;
    -fx-background-radius: 5em;
    -fx-effect: dropshadow(three-pass-box, #202020, 3, 0, 0, 0);
    -fx-min-width: 56px;
    -fx-min-height: 56px;
    -fx-max-width: 56px;
    -fx-max-height: 56px;
}

#edit_unit_box
{
    -fx-background-color: #ffffff;
    -fx-effect: dropshadow(three-pass-box, #000000, 5, 0, 0, 0);
}
#name_edit
{
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}
#cancel_button, #save_button
{
    -fx-font-family: Roboto;
    -fx-font-size: 16;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}
#cancel_button:hover, #save_button:hover
{
    -fx-background-color: rgba(0,0,0,0.05);
}
#cancel_button:pressed, #save_button:pressed
{
    -fx-background-color: rgba(0,0,0,0.2);
}

#unit_list_item_name
{
    -fx-background-color: null;
    -fx-font-family: Roboto;
    -fx-font-size: 14;
}
#unit_list_item_name:hover
{
    -fx-background-color: rgba(0,0,0,0.05);
}
#unit_list_item_name:pressed
{
    -fx-background-color: rgba(0,0,0,0.2);
}
#color_list_item
{
    -fx-background-color: null;
    -fx-opacity: 0.5;
}
#color_list_item:hover {
    -fx-background-color: #ffffff;
}
#color_list_cell:empty {
    -fx-background-color: transparent;
}
#main_list_cell
{
    -fx-background-color: white;
    -fx-background-radius: 0;
}
#main_list_cell:hover {
}
#main_list_cell:empty {
    -fx-background-color: transparent;
}

#block_ico
{
    -fx-image: url("../res/ico/folder.png");
}
#done_ico
{
    -fx-image: url("../res/ico/done.png");
}

#back_button
{
    -fx-background-image: url("../res/ico/back.png");
}
#close_button
{
    -fx-background-image: url("../res/ico/close.png");
}
#back_button, #close_button
{
    -fx-background-repeat: no-repeat no-repeat;
    -fx-background-position: center center;
    -fx-background-color: null;
    -fx-background-radius: 0;
}
#back_button:hover, #close_button:hover
{
    -fx-background-color: #ffaa55;
}
#back_button:pressed, #close_button:pressed
{
    -fx-background-color: #ffeedd;
}

#put_new_block_button, #put_new_table_button
{
    -fx-background-color: #ffffff;
    -fx-effect: dropshadow(three-pass-box, #202020, 3, 0, 0, 0);
    -fx-background-radius: 5em;
    -fx-min-width: 42px;
    -fx-min-height: 42px;
    -fx-max-width: 42px;
    -fx-max-height: 42px;
}
#put_new_block_button:hover, #put_new_table_button:hover
{
    -fx-background-color: #505050;
}
#put_new_block_button:pressed, #put_new_table_button:pressed
{
    -fx-background-color: #202020;
}