.list-view {   
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

#test
{
    -fx-background-image: url("../res/ico/next.png");
    -fx-background-position: center center;
    -fx-background-color: #ffffff;
    -fx-background-radius: 5em;
    -fx-effect: dropshadow(three-pass-box, #202020, 3, 0, 0, 0); 
    -fx-min-width: 56px;
    -fx-min-height: 56px;
    -fx-max-width: 56px;
    -fx-max-height: 56px;
}

#main_list_cell
{
    -fx-background-color: cyan;
    -fx-background-radius: 0;
	-fx-text-fill: white;
}
#main_list_cell:hover {
	-fx-text-fill: cyan;
}
#main_list_cell:empty {
    -fx-background-color: transparent;
}

#back_button
{
    -fx-background-image: url("../res/ico/back.png");
}
#close_button
{
    -fx-background-image: url("../res/ico/close.png");
}
#back_button, #close_button
{
    -fx-background-repeat: no-repeat no-repeat;
    -fx-background-position: center center;
    -fx-background-color: null;
    -fx-background-radius: 0;
}
#back_button:hover, #close_button:hover
{
    -fx-background-color: #ffaa55;
}
#back_button:pressed, #close_button:pressed
{
    -fx-background-color: #ffeedd;
}

#put_new_block_button
{
    -fx-background-color: #ffffff;
    -fx-effect: dropshadow(three-pass-box, #202020, 3, 0, 0, 0);
    -fx-background-radius: 5em;
    -fx-min-width: 42px;
    -fx-min-height: 42px;
    -fx-max-width: 42px;
    -fx-max-height: 42px;
}
#put_new_block_button:hover {
    -fx-background-color: #505050;
}
#put_new_block_button:pressed {
    -fx-background-color: #202020;
}